:root{
	--border-radius: 20px;
	--background-objetos: rgba(0, 0, 0, 0.38);
	--color: white;
	--font-size: 100px;
}

body{
	margin: 0;
	background: linear-gradient(45deg, rgba(230,228,198,1) 4%, rgba(137,191,156,1) 62%, rgba(29,141,125,1) 100%);
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

p,b,span, footer{
	font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.escondido{
	display: none;
}

.invisible{
	opacity: 0%;
}

input{
	position: absolute;
	top: -100000px;
}

#palabraActual{
	font-size: var(--font-size);
}
#correctas span{
	color: aquamarine;
}

#incorrectas span{
	color: rgb(246, 63, 112);
}

.letraActual{
	color: rgb(246, 63, 112);
}

#barraProgreso{
	position: absolute;
	top: 0px;
	height: 10px;
	width: 100%;
	background-color: rgb(205, 156, 156);;
}

#barraProgreso div{
	height: 10px;
	background-color: rgba(111, 255, 0, 0.141);;
}


#final p{
	background-color: var(--background-objetos);
	color: var(--color);
	padding: 20px;
	border-radius: var(--border-radius);
}

button{
	padding: 50px;
	border: unset;
	border-radius: var(--border-radius);
	background-color: var(--background-objetos);
	color: var(--color);
	font-size: var(--font-size);
}

.completarTiempo{
	animation-name: completarBarra;
	animation-duration: var(--tiempo);
	animation-fill-mode: forwards;
	animation-timing-function: linear;
}

.desaparecer{
	font-size: var(--font-size);
	position: absolute;
	animation-name: desparecer;
	animation-duration: 500ms;
	animation-fill-mode: forwards;
	animation-timing-function: ease-in-out;
}


@keyframes completarBarra {
	0%{
		width: 0%;
	}
	100%{
		width: 100%;
	}
	
}

@keyframes desparecer {
	0%{
		
	}
	50%{
		color: rgb(69, 91, 136);
	}
	100%{
		transform: translateY(-100%);
		opacity: 0%;
		font-size: calc( var(--font-size) / 2 );
	}
	
}